*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    height: 100%;
    background-color: lightgray;
}

.container {
    width: 600px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px gray, 30px 30px 50px rgb(148, 148, 148);
}

label {
    margin-right: 2rem;
}
